body {
    background-color: #000000; 
    

  }

.pinkwrapper{

	width:600px;
	height:2000px;
    	text-align:center;
    	margin-right:auto;
    	margin-left:auto;
    	margin-bottom:auto;
    	margin-top:100px;
    	background-color: #f915bb;
    	padding:100px 100px 100px 100px;
    	
}

.wrapper{

	width:504px;
	height:681px;
    	text-align:center;
    	margin-right:auto;
    	margin-left:auto;
    	margin-bottom:auto;
    	margin-top:20px;
    	background-color: black;
    	padding:50px 50px 50px 50px;
    	
}

p {

   font-family:Cedarville Cursive;

      font-size: 35px;

      font-weight: lighter;
      color: white;
      text-align: left;
      padding:10px 10px 0px 0px;

}





a {
    color: white;
}       
