body {

background: black url('../Project_1/night.jpg' ) no-repeat;
margin: 0;


}

     p {

   font-family:Cedarville Cursive;

      font-size: 55px;

      font-weight: lighter;
      color: #ffffff;
      text-align: left;
      padding:20px 50px 20px 50px;

}

          a {
    color: magenta;
}       